src/Chauffeur.Client/Service References/ServiceReference/Chauffeur.Jenkins.Model1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chauffeur.Jenkins.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chauffeur.Jenkins.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Build">
    <xs:sequence>
      <xs:element minOccurs="0" name="artifacts" nillable="true" type="tns:ArrayOfArtifact" />
      <xs:element minOccurs="0" name="buildOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="building" type="xs:boolean" />
      <xs:element minOccurs="0" name="changeSet" nillable="true" type="tns:ChangeSet" />
      <xs:element minOccurs="0" name="culprits" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="duration" type="xs:int" />
      <xs:element minOccurs="0" name="fullDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keepLog" type="xs:boolean" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Build" nillable="true" type="tns:Build" />
  <xs:complexType name="ArrayOfArtifact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artifact" nillable="true" type="tns:Artifact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtifact" nillable="true" type="tns:ArrayOfArtifact" />
  <xs:complexType name="Artifact">
    <xs:sequence>
      <xs:element minOccurs="0" name="displayPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artifact" nillable="true" type="tns:Artifact" />
  <xs:complexType name="ChangeSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfChangeSetItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeSet" nillable="true" type="tns:ChangeSet" />
  <xs:complexType name="ArrayOfChangeSetItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeSetItem" nillable="true" type="tns:ChangeSetItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeSetItem" nillable="true" type="tns:ArrayOfChangeSetItem" />
  <xs:complexType name="ChangeSetItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paths" nillable="true" type="tns:ArrayOfChangeSetPath" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeSetItem" nillable="true" type="tns:ChangeSetItem" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfChangeSetPath">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeSetPath" nillable="true" type="tns:ChangeSetPath" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeSetPath" nillable="true" type="tns:ArrayOfChangeSetPath" />
  <xs:complexType name="ChangeSetPath">
    <xs:sequence>
      <xs:element minOccurs="0" name="editType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeSetPath" nillable="true" type="tns:ChangeSetPath" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>