src/Chauffeur.Client/Service References/ServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Chauffeur.Jenkins.Model" />
  <xs:element name="InstallBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chauffeur.Jenkins.Model" minOccurs="0" name="build" nillable="true" type="q1:Build" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallBuildResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallLastSuccessfulBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallLastSuccessfulBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chauffeur.Jenkins.Model" minOccurs="0" name="InstallLastSuccessfulBuildResult" nillable="true" type="q2:Build" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>